PORT=3001

JWT_SECRET=gzjj9Jaivv9eQpZZCobGNfX1Q1yplY2o
JWT_EXPIRATION=10h

DATABASE_URL="postgresql://postgres:admin@localhost:5432/shopify?sslmode=disable"

STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=http://localhost:3000
STRIPE_CANCEL_URL=http://localhost:3000